{erl_opts, []}.

{deps, [
  {telemetry, "~> 1.0"}
]}.

{project_plugins, [
    rebar3_hex,
    rebar3_ex_doc
]}.

{profiles, [
  {test, [
    {plugins, [{rebar3_codecov, "0.7.0"}]},
    {deps, [{proper, "1.5.0"}]}
   ]},
  {prod, [
    {erl_opts, [inline_list_funcs, deterministic]}
   ]}
]}.

%% take out warnings for unused exported functions
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.
{ex_doc, [
     {source_url, <<"https://github.com/esl/opuntia">>},
     {extras, [<<"README.md">>, <<"LICENSE">>]},
     {main, <<"readme">>}
]}.
